<section class="redbgswoop">
    <div class="py-12 flex flex-col justify-center sm:py-20">
    <div class="relative py-3 sm:max-w-xl sm:mx-auto">
        <div
            class="absolute inset-0 bg-gradient-to-r md:from-red-600 to-red-800 md:shadow-lg transform -skew-y-6 sm:skew-y-0 sm:-rotate-6 sm:rounded-3xl"
        ></div>
        <div class="relative px-4 py-10 bg-white md:shadow-lg sm:rounded-3xl sm:p-20">
            <div class="max-w-md mx-auto">
                <img src="/assets/parrotta-paving-logo.svg" alt="{{ config:app:name }}" width="499" height="202" loading="lazy"/>
                <div class="divide-gray-200">
                    <div class="py-8 text-base leading-6 space-y-4 text-gray-900 sm:text-lg sm:leading-7">
                        <p>You can trust the professionals at Parrotta Paving for all your contracting needs.</p>
                        <ul class="list-disc space-y-2 font-light">
                            <li class="flex items-start">
                                <span class="h-6 flex items-center sm:h-7">
                                    <svg
                                        class="flex-shrink-0 h-5 w-5 text-red-600"
                                        viewBox="0 0 20 20"
                                        fill="currentColor"
                                    >
                                        <path
                                            fill-rule="evenodd"
                                            d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                                            clip-rule="evenodd"
                                        />
                                    </svg>
                                </span>
                                <p class="ml-2">
                                    Licensed and insured
                                </p>
                            </li>
                            <li class="flex items-start">
                                <span class="h-6 flex items-center sm:h-7">
                                    <svg
                                        class="flex-shrink-0 h-5 w-5 text-red-600"
                                        viewBox="0 0 20 20"
                                        fill="currentColor"
                                    >
                                        <path
                                            fill-rule="evenodd"
                                            d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                                            clip-rule="evenodd"
                                        />
                                    </svg>
                                </span>
                                <p class="ml-2">
                                    Competitively priced
                                </p>
                            </li>
                            <li class="flex items-start">
                                <span class="h-6 flex items-center sm:h-7">
                                    <svg
                                        class="flex-shrink-0 h-5 w-5 text-red-600"
                                        viewBox="0 0 20 20"
                                        fill="currentColor"
                                    >
                                        <path
                                            fill-rule="evenodd"
                                            d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                                            clip-rule="evenodd"
                                        />
                                    </svg>
                                </span>
                                <p class="ml-2">Built on over 60 years of relationships and jobs well done</p>
                            </li>
                        </ul>
                        
                    </div>
                    <div class="pt-3 text-base leading-6 font-bold sm:text-lg sm:leading-7">
                        <p>Ready to get started?</p>
                        <p>
                            <a href="/contact/appointment" class="text-red-600 hover:text-red-700">
                                Schedule your FREE quote appointment &rarr;
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</section>