<div class="size-lg px-3">
<h3 class="text-3xl text-center text-black font-regular mb-0">
  No job too BIG or too SMALL, Parrotta Paving will tackle them all.
</h3>   
<button
  class="flex mx-auto mt-5 mb-16 text-white bg-red-600 border-0 py-2 px-8 focus:outline-none hover:bg-gray-900 rounded text-lg"
  onClick="
      parent.location='/contact/appointment'" 
      value='Make appointment'
>
  Get in Touch
</button>
<h3 class="text-3xl text-center text-red-700 font-regular -mt-5 px-3 mb-12"><img src="/assets/paver.svg" class="mb-3 mx-auto" alt="{{ alt }}" width="100" loading="lazy" />
  Quality, Consistent Work for Over 60+ Years
</h3>
</div>