<header id="animated-background" class="bg-local bg-no-repeat bg-center bg-cover relative" style="height:98vh;">
    <div class="fluid-container flex justify-between items-center">
        
        {{ partial:components/logo width="200" }} {{ partial:navigation/main }}
    </div>
</header>

<section class="text-center">
    
    <div class="pb-md-20 bg-parrotta-red">
        <div class="overflow-x-hidden homeswoop">  
        </div>
        <div class="xl:w-3/5 mx-auto py-8 px-3 homecontent relative">
            <h1
                class="font-black uppercase text-3xl text-md-5xl leading-tight text-white mb-4 parrotta-shadow"
            >
                Residential, Commercial
                <br class="md-display" />
                AND Industrial Contracting
            </h1>
            <h2 class="text-xl font-semibold text-white">
                Driveways • Parking Lots • Excavating • Demolition • Site Development • Concrete • Seal Coating
            </h2>
            <button class="h-12 my-6 px-6 m-2 text-lg bg-white text-black rounded-lg shadow-md hover:bg-gray-900 hover:text-white" onClick="
            parent.location='/contact'" 
            value='Request a Quote'>
                Request a Quote
            </button>
            <section class="size-md container mx-auto my-8 my-4 px-4">
                <div class="flex flex-wrap -mx-4">
                 
                    <div class="w-1/2 px-2 pb-4 mb-0 relative"> <a href="/asphalt">
                    <img class="inset-0 z-0 h-full w-full bg-cover rounded shadow-md" src="/assets/asphalt.jpg" alt="">
                    
                    <div class="opacity-0 hover:opacity-100 duration-300 absolute inset-0 z-10 flex justify-center items-center md:text-5xl  text-white font-semibold parrotta-shadow">Asphalt</div>
                </a></div>
                
                    

                  <div class="w-1/2 px-2 pb-4 mb-0 h-full relative">
                    <a href="/concrete">
                    <img class="inset-0 z-0 h-full w-full bg-cover rounded shadow-md" src="/assets/concrete-by-parrota-paving-in-morgantown.jpg" alt="">
                    <div class="opacity-0 hover:opacity-100 duration-300 absolute inset-0 z-10 flex justify-center items-center md:text-5xl  text-white font-semibold parrotta-shadow">Concrete</div></a>
                    </div>
                    
                
                  <div class="w-1/3 px-2 relative "><a href="/demolition"><img class="inset-0 z-0 h-full w-full bg-cover rounded shadow-md" src="/assets/demolition-services-in-morgantown.jpg" alt="">
                    <div class="opacity-0 hover:opacity-100 duration-300 absolute inset-0 z-10 flex justify-center items-center xl:text-3xl md:text-2xl text-white font-semibold parrotta-shadow">Demolition</div></a>
                </div>
                <div class="w-1/3 px-2 relative"><a href="/excavation"><img class="inset-0 z-0 rounded shadow-md" src="/assets/excavation-services-in-morgantown.jpg" alt="">
                    <div class="opacity-0 hover:opacity-100 duration-300 absolute inset-0 z-10 flex justify-center items-center xl:text-3xl md:text-2xl text-white font-semibold parrotta-shadow">Excavation</div></a></div>
                  <div class="w-1/3 px-2 relative"><a href="/complete-site-development"><img class="inset-0 z-0 rounded shadow-md" src="/assets/site-development-contractor-west-virginia.jpg" alt="">
                    <div class="opacity-0 hover:opacity-100 duration-300 absolute inset-0 z-10 flex justify-center items-center xl:text-3xl md:text-2xl text-white font-semibold parrotta-shadow">Site<br/>Development</div></a></div>
                </div>
              </section>

            
            <h2 class="text-3xl font-regular text-white mt-10 mb-5 parrotta-shadow">
                At Parrotta Paving, there's no job too BIG or too SMALL.
            </h2>
            <p class="text-white text-lg">For over 60 years, Parrotta Paving has provided reliable, competitively-priced services to Morgantown, WV and surrounding areas. Learn more about our contracting services. Have questions? Give us a call at  <a href="tel:{{ configuration:phone }}" class="hover:underline">{{ configuration:phone }}</a>.</p>
            
            <div class="mt-6 flex flex-wrap lg:w-5/5 sm:mx-auto sm:mb-2 mx-2">{{ links_for_services }}
                <div class="p-2 sm:w-1/3 w-full">
                    <a href="{{ url }}" title="Learn more about {{ service }}">
                    <div class="bg-gray-200 hover:bg-gray-900 hover:text-white rounded flex p-4 h-full items-center">
                        <svg
                            fill="none"
                            stroke="currentColor"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="2"
                            class="text-red-600 w-8 h-8 flex-shrink-0 mr-4"
                            viewBox="0 0 24 24"
                        >
                        <path clip-rule="evenodd" fill-rule="evenodd" d="M13 9l3 3m0 0l-3 3m3-3H8m13 0a9 9 0 11-18 0 9 9 0 0118 0z"></path>
                        </svg>
                        <span class="title-font text-lg	 font-medium">{{ service }}</span>
                    </div>
                </a>
                </div> {{ /links_for_services }}
            </div>
            
        </div>
    </div>
    
    
    

</section>
{{ partial:components/testimonial}}