<header id="animated-background" class="bg-local bg-no-repeat bg-center bg-cover relative" style="height:98vh;">
    <div class="fluid-container flex justify-between items-center">
        {{ partial:components/logo width="325" }} {{ partial:navigation/main }}
    </div>
</header>

<section class="text-center">
    
    <div style="background-color:#CE2028;">
        <div class="overflow-x-hidden" style="margin-top:-390px; background-image:url(/assets/swoop-small.svg);background-size:cover;background-repeat:no-repeat; width:100vw; height:1000px; background-position:45% 0px; position:relative;">  
        </div>
        <div class="py-8" style="margin-top:-475px; position:relative;">
            <h1
                class="font-black uppercase text-5xl leading-tight text-white mb-4"
                style="text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
                 0px 8px 13px rgba(0,0,0,0.1),
                 0px 18px 23px rgba(0,0,0,0.1);"
            >
                Residential, Commercial
                <br class="md-display" />
                AND Industrial
            </h1>
            <h2 class="text-xl font-semibold text-white">
                Driveways • Parking Lots • Excavating • Demolition Site Development • Concrete • Seal Coating
            </h2>
            <button class="h-12 my-6 px-6 m-2 text-lg bg-white text-black rounded-lg shadow-md hover:bg-gray" onClick="
            parent.location='/contact'" 
            value='Get Quote'>
                Get Quote
            </button>
            <img class="mx-auto" src="/assets/project-gallery-100.jpg" />
        </div>
    </div>


</section>