<header id="animated-background" class="bg-local bg-no-repeat bg-center bg-cover relative" style="height:98vh;">
    <div class="fluid-container flex justify-between items-center">
        {{ partial:components/logo width="325" }} {{ partial:navigation/main }}
    </div>
</header>

<section class="text-center ">
    
    <div class="pb-20" style="background-color:#CE2028;">
        <div class="overflow-x-hidden" style="margin-top:-390px; background-image:url(/assets/swoop-small.svg);background-size:cover;background-repeat:no-repeat; width:100vw; height:1000px; background-position:45% 0px; position:relative;">  
        </div>
        <div class="py-8" style="margin-top:-475px; position:relative;">
            <h1
                class="font-black uppercase text-5xl leading-tight text-white mb-4 parrotta-shadow"
            >
                Residential, Commercial
                <br class="md-display" />
                AND Industrial Contracting
            </h1>
            <h2 class="text-xl font-semibold text-white">
                Driveways • Parking Lots • Excavating • Demolition Site Development • Concrete • Seal Coating
            </h2>
            <button class="h-12 my-6 px-6 m-2 text-lg bg-white text-black rounded-lg shadow-md hover:bg-gray-900 hover:text-white" onClick="
            parent.location='/contact'" 
            value='Get Quote'>
                Get Quote
            </button>
            <section class="size-md container mx-auto my-8 my-4 px-4">
                <div class="flex flex-wrap -mx-4 ">
                 
                    <div class="w-1/2 px-2 pb-4 mb-0"> <a href="/asphalt">
                    <img class="h-full w-full bg-cover rounded shadow-md" src="/assets/asphalt.jpg" alt="">
                </a></div>
                
                    

                  <div class="w-1/2 px-2 pb-4 mb-0 h-full">
                    <img class="h-full w-full bg-cover rounded shadow-md" src="/assets/paving-contracting-in-west-virginia.jpg" alt="">
                    </div>
                    
                
                  <div class="w-1/3 px-2"><img class="h-full w-full bg-cover rounded shadow-md" src="https://source.unsplash.com/random/1280x720" alt=""></div>
                  <div class="w-1/3 px-2"><img class="rounded shadow-md" src="https://source.unsplash.com/random/1280x720" alt=""></div>
                  <div class="w-1/3 px-2"><img class="rounded shadow-md" src="https://source.unsplash.com/random/1280x720" alt=""></div>
                </div>
              </section>

            <img class="mx-auto" src="/assets/project-gallery-100.jpg" />
            <h2 class="text-3xl font-regular text-white mt-10 mb-5 parrotta-shadow">
                At Parrotta Paving, there's no job too BIG or too SMALL.
            </h2>
            <p class="text-white text-lg">For over 60 years, Parrotta Paving has provided reliable, competitively-priced services to Morgantown, WV and surrounding areas.</p>
                
            <p class="text-white text-lg">  Learn more about our contracting services. Have questions? Give us a call at  <a href="tel:{{ configuration:phone }}" class="hover:underline">{{ configuration:phone }}</a>.</p>
            
            <div class="mt-6 flex flex-wrap lg:w-4/5 sm:mx-auto sm:mb-2 mx-2">{{ links_for_services }}
                <div class="p-2 sm:w-1/3 w-full">
                    <a href="{{ url }}" title="Learn more about {{ service }}">
                    <div class="bg-gray-200 hover:bg-gray-900 hover:text-white rounded flex p-4 h-full items-center">
                        <svg
                            fill="none"
                            stroke="currentColor"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="2"
                            class="text-red-600 w-8 h-8 flex-shrink-0 mr-4"
                            viewBox="0 0 24 24"
                        >
                        <path clip-rule="evenodd" fill-rule="evenodd" d="M13 9l3 3m0 0l-3 3m3-3H8m13 0a9 9 0 11-18 0 9 9 0 0118 0z"></path>
                        </svg>
                        <span class="title-font text-lg	 font-medium">{{ service }}</span>
                    </div>
                </a>
                </div> {{ /links_for_services }}
            </div>
            
        </div>
    </div>
    
    
    

</section>