{{ collection from="gallery" title:contains="{slug}" }}
<section class="py-10">
    <h2 class="sm:text-3xl text-2xl font-medium text-center title-font text-gray-900 mb-4">{{ title }}
       </h2>
       <h3 class="text-center">{{ content }}</h3>
       
       <div class="masonry-wrapper">
            <div class="masonry">
                        {{ gallery }}
                        <div class="masonry-item">
                    <img src="{{ url }}" alt="" class="masonry-content rounded shadow">
                    </div>
                    {{ /gallery }}
                    </div><script src="//unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js"></script>
       </div>


<!-- <div id="projects" class="container mx-auto">
    <div class="grid rid-flow-col-dense grid-cols-3 grid-rows-3 gap-4">
        {{ gallery }}
        <img src="{{ url }}" alt="" class="rounded shadow">
         {{ /gallery }}
      </div>

        
     
      
    </div>
</div> -->
</section>
{{ /collection }}
    
        <!-- <a
            data-fslightbox
            data-type="image"
            data-srcset="/assets/projects/after-residential-driveways-near-morgantown-wv.jpg, /assets/projects/before-residential-driveways-near-morgantown-wv.jpg"
            data-sizes="(max-width: 600px) 600px, 1461px"
            href="#"
        >
            open lightbox
        </a>

        <a data-fslightbox="gallery2" href="/assets/projects/after-residential-driveways-near-morgantown-wv.jpg">
            <img src="/assets/projects/after-residential-driveways-near-morgantown-wv.jpg" />
        </a>

        <a data-fslightbox="gallery2" href="demo/img/5.jpg">
            gallery2 two
        </a>

        <a
            data-fslightbox="gallery"
            data-alt="siema"
            data-xd="elo"
            data-turbocustom="turbocustom"
            data-poster="https://i.imgur.com/fsyrScY.jpg"
            data-class="siema"
            href="https://commondatastorage.googleapis.com/gtv-videos-bucket/sample/BigBuckBunny.mp4"
        >
            <div class="embed-container">
                video
            </div>
        </a>

        <a
            data-fslightbox="gallery"
            data-alt="siema"
            data-xd="elo"
            data-turbocustom="turbocustom"
            data-class="siema"
            href="https://www.youtube.com/watch?v=xshEZzpS4CQ"
        >
            <div class="embed-container">
                youtube
            </div>
        </a>

        <a
            data-fslightbox="gallery"
            data-alt="siema"
            data-xd="elo"
            data-turbocustom="turbocustom"
            data-class="siema"
            href="turboinvalid"
        >
            <div class="embed-container">
                invalid
            </div>
        </a>

        <a
            data-fslightbox="gallery"
            href="#custom-source"
            data-alt="test-alt"
            data-turbocustom="example-turbocustom"
            data-class="custom-in-lightbox"
        >
            custom
        </a>

        <div id="output"></div>

        <iframe
            id="custom-source"
            frameborder="0"
            width="720px"
            height="520px"
            allow="fullscreen"
            class="base-class second-base-class"
            src="https://www.youtube.com/embed/xshEZzpS4CQ"
        ></iframe>
    </div> -->

    <!-- <style>
        #custom-source {
            display: none;
            background: red;
        }

        .custom-in-lightbox {
            display: block !important;
        }
    </style> --> 

    <!-- <script>
    setTimeout(() => {
        fsLightboxInstances["swipe-test"].props.loadOnlyCurrentSource = true;
        fsLightboxInstances["swipe-test"].props.disableLocalStorage = true;
    }, 200);
</script> -->
</div>
</section>