{{ collection from="gallery" slug:contains="{slug}" }}
<section class="size-lg py-10">
    <h2 class="sm:text-3xl text-2xl font-medium text-center title-font text-gray-900 mb-4">{{ title }}
       </h2>
       <h3 class="text-center">{{ content | strip_tags }}</h3>
       
       <div class="masonry-wrapper">
            <div class="masonry">
                
                        {{ gallery }}
                        <div class="masonry-item">
                            <a data-fslightbox="gallery" href="{{ url }}">
                    <img src="{{ url }}" alt="{{ alt }}" class="masonry-content rounded shadow"></a>
                    </div>
                    {{ /gallery }}
                    
                    </div><script src="//unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js"></script>
       </div>
</section>
{{ /collection }}