<div class="size-lg sm:py-10 px-3 ">
    <div class="container mx-auto max-w-screen-lg grid grid-cols-5 gap-4">
        <div class="px-8 sm:px-3 col-span-5 md:col-span-2 flex place-content-center">
            <img src="/assets/parrotta-paving-area-of-service-map_1.png" alt="{{ alt }}" width="350" height="350"
                class="mx-auto object-contain mb-4 sm:mb-0" />
        </div>
        <div class="p-2 col-span-5 md:col-span-3">
            <h1 class="sm:text-3xl text-2xl font-medium text-center title-font text-gray-900 mb-4">
                Service Area
            </h1>
            <p>
                Parrotta Paving provides contracting services within 90-minutes of Morgantown, West Virginia. Parrotta's
                primary service areas include Monongalia, Preston, Dodridge, and Marion West Virginia counties, as well as nearby
                Maryland and Pennsylvania counties, including:
            </p>
            <div class="grid grid-cols-4 mt-3">
        
                <div class="my-2 col-span-4 sm:col-span-2">
                    <h3 class="font-xl font-bold leading-tight text-gray-900">West Virginia</h3>
                    <ul class="text-sm font-light mt-2" style="column-count:2">
                        <li>Bridgeport</li>
                        <li>Clarksburg</li>
                        <li>Fairmont</li>
                        <li>Granville</li>
                        <li>Lost Creek</li>
                        <li>Nutter Fort</li>
                        <li>Stonewood</li>
                        <li>Weston</li>
                        <li>Westover</li>
                        <li>Wheeling</li>
                    </ul>
                </div>
    
    
                
    
                <div class="my-2 col-span-2 sm:col-span-1">
                    <h2>Maryland</h2>
                    <ul class="text-sm font-light mt-2">
                        <li>Accident</li>
                        <li>McHenry</li>
                        <li>Oakland</li>
                    </ul>
                </div>

                <div class="my-2 col-span-2 sm:col-span-1">
                    <h2>Pennsylvania</h2>
                    <ul class="text-sm font-light mt-2">
                        <li>Hopwood</li>
                        <li>Little Washington</li>
                        <li>Mount Morris</li>
                        <li>Uniontown</li>
                        <li>Waynesburg</li>
                    </ul>
                </div>
        </div>

        </div>
    </div>
    
</div>
