<div class="bg-neutral-100 py-10 ">
    <div class="flex flex-wrap container mx-auto md:px-20 ">
        <div class="px-2 w-full md:w-2/5">
            <img
                src="/assets/parrotta-paving-area-of-service-map.png"
                alt="{{ alt }}"
                width="350"
                height="350"
                class="object-contain mx-auto"
            />
        </div>
        <div class="bg-neutral-300 p-2 w-full md:w-3/5 prose">
            <h1 class="sm:text-3xl text-2xl font-medium text-center title-font text-gray-900 mb-4">
                Service Area
            </h1>
            <p>
                Parrotta Paving provides contracting services within 90-minutes of Morgantown, West Virginia. Our primary service areas include Monongalia, Preston, Dodridge, and Marion counties, as well as nearby Maryland and Pennsylvania counties.
            </p>

            <div class="flex flex-wrap bg-white">
                <div class="bg-neutral-300 w-full md:w-1/2">
                    <h2>West Virginia</h2>
                    <ul>
                        <li>Bridgeport</li>
                        <li>Clarksburg</li>
                        <li>Fairmont</li>
                        <li>Nutter Fort</li>
                        <li>Westover</li>
                        <li>Grandville</li>
                        <li>Weston</li>
                        <li>Wheeling</li>
                         <li>Lost Creek</li>
                          <li>Stonewood</li>
                    </ul>
                </div>
                <div class="bg-neutral-300 w-full md:w-1/2">
                    <h2>Pennsylvania</h2>
                    <ul>
                        <li>Hopwood</li>
                        <li>Little Washington</li>
                        <li>Uniontown</li>
                         <li>Waynesburg</li>
                         <li>Mount Morris</li>
                    </ul>
                     <h2>Maryland</h2>
                     <ul >
                        <li>McHenry</li>
                        <li>Oakland</li>
                        <li>Accident</li>
                        </ul>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>
