{{# The outer wrapper grid as defined in tailwind.config.js. It makes sure all blocks on a page get evenly spaced
without having to worry about margins or paddings. #}}
{{ if segment_1 != "" }} {{#not on home page #}}
<main class="outer-grid">
    
    {{ page_builder scope="block" }} {{ partial src="page_builder/{type}" }} 
    {{ /page_builder }}
     
    {{ partial:components/projectcard}}
    
    {{ if show_project_gallery}} {{ partial:components/lightbox }}{{/if}}
    
    

    
    

    
    
    
    
</main>{{/if}}

{{ partial:snippets/background_image image="/assets/lineup.JPG" class="trucks" }}
<div class="trucks w-full border-t-4 border-b-4 border-gray-800 bg-cover" style="height:300px;"></div>

{{ if show_service_area}} {{partial:components/locations }}{{/if}}
{{ if call_to_action }}{{partial:components/card }}{{/if}}

