{{# The outer wrapper grid as defined in tailwind.config.js. It makes sure all blocks on a page get evenly spaced
without having to worry about margins or paddings. #}}
{{ if segment_1 != "" }} {{#not on home page #}}
<main class="outer-grid">
    
    {{ page_builder scope="block" }} {{ partial src="page_builder/{type}" }} 
    {{ /page_builder }}
     
    {{ partial:components/projectcard}}
    
    {{ if show_project_gallery}} {{ partial:components/lightbox }}{{/if}}
    
</main>{{/if}}


{{ partial:snippets/background_image image="{{banner_image}}" class="banner-{{slug}}" }}
<div class="banner-{{slug}} shadow-inner w-full border-b-2 border-t-2 border-gray-300 bg-cover" style="height:300px;"></div>


{{ if show_service_area}} {{partial:components/locations }}{{/if}}
{{ if call_to_action }}{{partial:components/card }}{{/if}}

