<!DOCTYPE html>
<html lang="{{ site:short_locale }}">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
        {{ partial:snippets/seo }}
        <link rel="stylesheet" href="{{ mix src='/css/site.css' }}" />
        {{ if segment_1 == "" }}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.3/tiny-slider.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.2/min/tiny-slider.js"></script> {{ /if }}
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
        {{ partial:snippets/favicon }}
    </head>
    <body
        class="overflow-x-hidden min-h-screen bg-white {{ environment == 'local' ? 'debug' : '' }}"
        x-data="{ mobileNavOpen: false }"
        :class="{ 'no-scroll': mobileNavOpen }"
    >
        {{ yield:google_tag_manager }} 
        <div class="lg:hidden bg-parrotta-red h-12 text-white text-center">
            <span class="inline-block align-baseline pt-3 text-xl hover:underline "><a href="tel:{{ configuration:phone }}" title="Call Parrotta">
                Call {{ configuration:phone }}</a></span></div>

        {{ partial:layout/header }} 
        
        {{ template_content }} 
        
        
        {{partial:layout/footer }}
        <script src="{{ mix src='/js/site.js' }}"></script>
        {{ if segment_1 == "" }}<script>
        let slider = tns({
            container: '.my-slider',
            controlsContainer: '#controls',
            prevButton: '.previous',
            nextButton: '.next',
            nav: false, 
            autoHeight: true
          });</script>{{ /if}}
    </body>
</html>
