{{# The sites footer rendered on each page. #}}
<footer class="w-full bg-error-600  text-white">
    <div
        class="w-full text-white bg-no-repeat"
        style="background-image:url('/assets/website-footer.svg'); background-size:300px; background-position:left bottom;"
    >
        <div class="xl:px-30 pb-12 lg:px-30 md:px-10 sm:px-5 px-10">
            <div class="w-full pt-12 flex flex-col sm:flex-row space-y-2 justify-start">
                <div class="lg:w-2/5 pr-6 flex flex-col space-y-4">
                    <p>
                        Parrotta Paving
                        <br />
                        For over 60+ years
                        <br />
                        
                        <p class="my-2"><a href="tel:{{ configuration:phone }}">{{ configuration:phone }}</a></p>
                        
                        <p class="my-2">{{ configuration:address }}</p>
                    </p>
                </div>
                <div class="lg:w-1/5 px-2 flex flex-col">
                    <h2 class="uppercase font-bold text-xl">Why Choose Us?</h2>
                    <ul class="list-disc list-inside">
                        <li class="my-2">Licensed and Insured</li>
                        <li class="my-2">FREE Estimates</li>
                        <li class="my-2">Competitive Pricing</li>
                        <li class="my-2">Quality Workmanship</li>
                        <li class="my-2">Experienced Employees</li>
                    </ul>
                </div>
                <div class="lg:w-1/5 flex flex-col px-2">
                    <h2 class="uppercase font-bold text-xl">Get in Touch</h2>

                    {{ configuration:fax }}
                    <p class="my-2">
                        <a href="/employment">
                            We're Hiring!
                            <br />
                            Work at Parrotta
                        </a>
                    </p>
                    <p class="my-2"><a href="/contact">Schedule an Appnt</a></p>
                    <p class="my-2"><a href="/millings-request">Request Millings</a></p>
                </div>
                <div class="w-50 md:w-1/5 flex flex-col px-2">
                    <h2 class="uppercase font-bold text-xl">Hours</h2>
                    <div class="my-2">{{ configuration:business_hours }}</div>
                </div>
            </div>
            <div class="opacity-60 pt-2">
                <p>© {{ now | format:Y }} Parrotta Paving. All rights reserved.</p>
            </div>
        </div>
    </div>
</footer>
