{{# The sites main navigation rendered on each page. It's 2 levels deep by default and uses AlpineJS for interactivity. There's a desktop and a mobile version. #}}

{{# The desktop navigation. Hidden on smaller screen. Shown from md and up. #}}

<nav class="hidden lg:block">
    <ul class="flex space-x-8 text-black">
        {{ nav:main max_depth="2" include_home="true" }}
            <li
                {{ if children }}
                    x-data="{ subnavOpen: false }"
                {{ /if }}
                class="relative leading-none"
            >
                <a
                    class="flex items-center font-bold align-bottom text-md uppercase tracking-wide hover:text-primary-600 {{ is_parent ? 'text-primary-600' : 'text-neutral-800' }} 
                    "
                    {{ if children }}
                        href="#"
                        @click.prevent="subnavOpen = true"
                        @click.away="subnavOpen = false"
                    {{ else }}
                        href="{{ url }}"
                    {{ /if }}
                >
                    {{ title }}
                    {{ if children }}
                        <svg class="ml-1 w-2 text-neutral-800 stroke-current overflow-visible transform"
                            :class="{ 'rotate-180': subnavOpen }"
                            aria-hidden="true"
                            stroke-width="16"
                            viewBox="0 0 140 140"><path d="M135.625 42.648l-62.533 62.527a4.37 4.37 0 01-6.184 0L4.375 42.648" fill="none" stroke-linecap="round" stroke-linejoin="round"
                        /></svg>
                    {{ /if }}
                </a>
                {{ if children }}
                    <ul
                        x-show="subnavOpen"
                        class="absolute mt-2 p-3 bg-gray-100 space-y-3"
                        :aria-expanded="subnavOpen"
                        x-cloak
                    >
                        {{ children }}
                            <li class="">
                                <a
                                    class="whitespace-no-wrap text-md font-light hover:text-primary-600 {{ is_current || is_parent ? 'text-primary-600' : 'text-neutral-800' }}"
                                    href="{{ url }}"
                                >
                                    {{ title }}
                                </a>
                            </li>
                        {{ /children }}
                    </ul>
                {{ /if }}
            </li>
            
        {{ /nav:main }}
        <li class="relative leading-none -mt-1">
                                <a
                                id="myphone"
                                class=" whitespace-no-wrap text-md font-bold hover:text-primary-600"
                                href="tel:{{ configuration:phone }}" title="Call Parrotta Paving">
                                <img src="/assets/phone_number.svg" alt="304-292-0905" width="200" height="31" class="transform hover:scale-110 transition duration-700 ease-in-out " /><span class="sr-only">{{ configuration:phone }}</span>
                                </a>
                            </li>
    </ul>
</nav>

{{# The mobile navigation. Hidden from lg and up #}}
<nav class="lg:hidden">
    <button
        @click.prevent="mobileNavOpen = !mobileNavOpen"
        class="fixed z-20 w-16 h-16 flex justify-center items-center right-0 top-0 mt-safe mr-4 bg-black text-white text-md text-uppercase tracking-widest font-bold"
        aria-label="Toggle menu"
        x-text="mobileNavOpen ? 'Close' : 'Menu'"
    ></button>
    <div class="fixed inset-0 z-10 items-center  bg-parrotta-red justify-center overflow-auto scrolling-auto"
    x-show="mobileNavOpen"
    x-cloak>
    
    
    <ul class="static space-y-8 flex flex-col justify-center my-10 text-lg overflow-y-scroll"
        
    >
    <li><a href="tel:{{ configuration:phone }}" title="call">
        <img src="/assets/parrotta-logo-full.svg" width="200" height="82" alt="{{ alt }}" class="mb-3 ml-1" /></a></li>
        {{ nav:main max_depth="2" include_home="true" }}
            <li
                {{ if children }}
                    x-data="{ mobileNavSubnavOpen: false }"
                {{ /if }}
                class="ml-8 leading-none transition ease-in-out"
            >
                <a
                    class="flex text-center items-center font-bold uppercase tracking-wide hover:text-black text-white "
                    {{ if children }}
                        href="#"
                        @click.prevent="mobileNavSubnavOpen = true"
                        @click.away="mobileNavSubnavOpen = false"
                    {{ else }}
                        href="{{ url }}"
                    {{ /if }}
                >
                   {{ title }}
                   {{ if children }}
                        <svg class="ml-3 w-2 text-white hover:text-black stroke-current overflow-visible transform "
                            :class="{ 'rotate-180': mobileNavSubnavOpen }"
                            aria-hidden="true"
                            stroke-width="16"
                            viewBox="0 0 140 140"><path d="M135.625 42.648l-62.533 62.527a4.37 4.37 0 01-6.184 0L4.375 42.648" fill="none" stroke-linecap="round" stroke-linejoin="round"
                        /></svg>
                    {{ /if }}
                </a>
                {{ if children }}
                    <ul
                        x-show="mobileNavSubnavOpen"
                        class="w-11/12 mt-6 space-y-6 bg-red-600 py-10 px-10"
                        :aria-expanded="mobileNavSubnavOpen"
                        x-cloak
                    >
                        {{ children }}
                            <li>
                                <a
                                    class="whitespace-no-wrap text-white hover:text-black {{ is_current ? 'font-bold underline' : 'font-light' }}"
                                    href="{{ url }}">
                                    {{ title }}
                                </a>
                            </li>
                        {{ /children }}
                    </ul>
                {{ /if }}
            </li>
        {{ /nav:main }}
        
    </ul>
</div>
</nav>
