/* purgecss start ignore */
@import "tailwindcss/base";
/* purgecss end ignore */
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500&display=swap");
  
#selected-projects {
    margin-top:-150px;
}
.tns-outer button {
    background-color:red !important;
}
.bg-parrotta-red {
    background-color:#CE2028;
}
.negpageswoop {
    margin-top:-500px;
}
.homeswoop {
    margin-top:-390px; background-image:url(/assets/swoop-small.svg);background-size:cover;background-repeat:no-repeat; width:100%; min-height:1000px; background-position:45% 0px; position:relative;
}
.homecontent {
    margin-top:-600px;
}
@media (min-width: 640px) { 
.homecontent {
    margin-top:-500px;
}
.redbgswoop {
    background-image:url(/assets/bg-swoop-rectangle.svg);
    background-size:contain;
    background-repeat:no-repeat;
    background-position:bottom center;
}
}

.parrotta-shadow {
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
                 0px 8px 13px rgba(0,0,0,0.1),
                 0px 18px 23px rgba(0,0,0,0.1);
}
/** Nav **/
.logo {
    width:200px;
}

#myphone {
    background-image: url(/assets/phone_number.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
}

/** Masonry Gallery **/
.masonry-wrapper {
    padding: 1.5em;
    max-width: 960px;
    margin-right: auto;
    margin-left: auto;
}
.masonry {
    display: grid;
    grid-template-columns: repeat(1, minmax(100px, 1fr));
    grid-gap: 10px;
    grid-auto-rows: 0;
}
@media only screen and (max-width: 1023px) and (min-width: 768px) {
    .masonry {
        grid-template-columns: repeat(2, minmax(100px, 1fr));
    }
}
@media only screen and (min-width: 1024px) {
    .masonry {
        grid-template-columns: repeat(3, minmax(100px, 1fr));
    }
}
.masonry-item,
.masonry-content {
    border-radius: 4px;
    overflow: hidden;
}
.masonry-item {
    filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.3));
    transition: filter 0.25s ease-in-out;
}
.masonry-item:hover {
    filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.3));
}
.masonry-footer {
    font-size: 0.75em;
    opacity: 0.25;
    text-align: center;
    padding-top: 3em;
    padding-bottom: 3em;
    margin-bottom: -1.5em;
    transition: opacity 1s ease-in-out;
}
.masonry-footer a {
    color: currentColor;
}
.masonry-footer:hover,
.masonry-footer:active,
.masonry-footer:focus {
    opacity: 0.75;
}

/** Projects **/

#projects .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-flow: dense;
    grid-auto-rows: minmax(5vw, auto);
}

#projects img {
    max-height: 600px;
    object-fit: cover;
    margin-top: 10px;
    margin-left: 10px;
}

#animated-background {
    animation: bgfade 2s infinite;
    animation-duration: 15s;
    background-size: cover;
    background-position: center;
    position: relative;
}
@keyframes bgfade {
    0% {
        background-image: url("https://www.pp.wip/assets/1076-1200x800.jpg");
    }
    25% {
        background-image: url("https://www.pp.wip/assets/1077-1200x800.jpg");
    }
    50% {
        background-image: url("https://www.pp.wip/assets/1074-1200x800.jpg");
    }
    75% {
        background-image: url("https://www.pp.wip/assets/1075-1200x800.jpg");
    }
    100% {
        background-image: url("https://www.pp.wip/assets/1076-1200x800.jpg");
    }
} /****** add a background overlay 
#animated-background:hover:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: black;
    opacity: 0.3;
}*******/
/*** Great Buttons *****/

.btn-grad {
    background-image: linear-gradient(to right, #d31027 0%, #ea384d 51%, #d31027 100%);
}
.btn-grad {
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
}

.btn-grad:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}

/**Gallery***/
.fslightbox-absoluted {
    position: absolute;
    top: 0;
    left: 0;
}

.fslightbox-fade-in {
    animation: fslightbox-fade-in 0.25s cubic-bezier(0, 0, 0.7, 1);
}

.fslightbox-fade-out {
    animation: fslightbox-fade-out 0.25s ease;
}

.fslightbox-fade-in-strong {
    animation: fslightbox-fade-in-strong 0.25s cubic-bezier(0, 0, 0.7, 1);
}

.fslightbox-fade-out-strong {
    animation: fslightbox-fade-out-strong 0.25s ease;
}

@keyframes fslightbox-fade-in {
    from {
        opacity: 0.65;
    }
    to {
        opacity: 1;
    }
}

@keyframes fslightbox-fade-out {
    from {
        opacity: 0.35;
    }
    to {
        opacity: 0;
    }
}

@keyframes fslightbox-fade-in-strong {
    from {
        opacity: 0.3;
    }
    to {
        opacity: 1;
    }
}

@keyframes fslightbox-fade-out-strong {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.fslightbox-cursor-grabbing {
    cursor: grabbing;
}

.fslightbox-full-dimension {
    width: 100%;
    height: 100%;
}

.fslightbox-open {
    overflow: hidden;
    height: 100%;
}

.fslightbox-flex-centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

.fslightbox-opacity-0 {
    opacity: 0 !important;
}

.fslightbox-opacity-1 {
    opacity: 1 !important;
}

.fslightbox-scrollbarfix {
    padding-right: 17px;
}

.fslightbox-transform-transition {
    transition: transform 0.3s;
}

.fslightbox-container {
    font-family: Helvetica, sans-serif;
    position: fixed;
    top: 0;
    left: 0;
    background: linear-gradient(rgba(30, 30, 30, 0.9), black 1810%);
    z-index: 9999999;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}
.fslightbox-container * {
    box-sizing: border-box;
}

.fslightbox-svg-path {
    transition: fill 0.15s ease;
    fill: #ddd;
}

.fslightbox-nav {
    height: 45px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.fslightbox-slide-number-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100%;
    font-size: 15px;
    color: #d7d7d7;
    z-index: 0;
    max-width: 55px;
    text-align: left;
}
.fslightbox-slide-number-container .fslightbox-flex-centered {
    height: 100%;
}

.fslightbox-slash {
    display: block;
    margin: 0 5px;
    width: 1px;
    height: 12px;
    transform: rotate(15deg);
    background: #fff;
}

.fslightbox-toolbar {
    position: absolute;
    z-index: 3;
    right: 0;
    top: 0;
    height: 100%;
    display: flex;
    background: rgba(35, 35, 35, 0.65);
}

.fslightbox-toolbar-button {
    height: 100%;
    width: 45px;
    cursor: pointer;
}

.fslightbox-toolbar-button:hover .fslightbox-svg-path {
    fill: white;
}

.fslightbox-slide-btn-container {
    display: flex;
    align-items: center;
    padding: 12px 12px 12px 6px;
    position: absolute;
    top: 50%;
    cursor: pointer;
    z-index: 3;
    transform: translateY(-50%);
}
@media (min-width: 476px) {
    .fslightbox-slide-btn-container {
        padding: 22px 22px 22px 6px;
    }
}
@media (min-width: 768px) {
    .fslightbox-slide-btn-container {
        padding: 30px 30px 30px 6px;
    }
}

.fslightbox-slide-btn-container:hover .fslightbox-svg-path {
    fill: #f1f1f1;
}

.fslightbox-slide-btn {
    padding: 9px;
    font-size: 26px;
    background: rgba(35, 35, 35, 0.65);
}
@media (min-width: 768px) {
    .fslightbox-slide-btn {
        padding: 10px;
    }
}
@media (min-width: 1600px) {
    .fslightbox-slide-btn {
        padding: 11px;
    }
}

.fslightbox-slide-btn-container-previous {
    left: 0;
}

@media (max-width: 475.99px) {
    .fslightbox-slide-btn-container-previous {
        padding-left: 3px;
    }
}

.fslightbox-slide-btn-container-next {
    right: 0;
    padding-left: 12px;
    padding-right: 3px;
}
@media (min-width: 476px) {
    .fslightbox-slide-btn-container-next {
        padding-left: 22px;
    }
}
@media (min-width: 768px) {
    .fslightbox-slide-btn-container-next {
        padding-left: 30px;
    }
}

@media (min-width: 476px) {
    .fslightbox-slide-btn-container-next {
        padding-right: 6px;
    }
}

.fslightbox-down-event-detector {
    position: absolute;
    z-index: 1;
}

.fslightbox-slide-swiping-hoverer {
    z-index: 4;
}

.fslightbox-invalid-file-wrapper {
    font-size: 22px;
    color: #eaebeb;
    margin: auto;
}

.fslightbox-video {
    object-fit: cover;
}

.fslightbox-youtube-iframe {
    border: 0;
}

.fslightbox-loader {
    display: block;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 67px;
    height: 67px;
}
.fslightbox-loader div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 54px;
    height: 54px;
    margin: 6px;
    border: 5px solid;
    border-color: #999 transparent transparent transparent;
    border-radius: 50%;
    animation: fslightbox-loader 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
}
.fslightbox-loader div:nth-child(1) {
    animation-delay: -0.45s;
}
.fslightbox-loader div:nth-child(2) {
    animation-delay: -0.3s;
}
.fslightbox-loader div:nth-child(3) {
    animation-delay: -0.15s;
}

@keyframes fslightbox-loader {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.fslightbox-source {
    position: relative;
    margin: auto;
    opacity: 0;
    z-index: 2;
    backface-visibility: hidden;
    transform: translateZ(0);
    transition: opacity 0.3s;
    will-change: opacity;
}

.fslightbox-source-outer {
    will-change: transform;
}

/*tns slider*/

.tns-nav {
    text-align: center;
    margin: 10px 0;
  }
  .tns-nav > [aria-controls] {
    width: 9px;
    height: 9px;
    padding: 0;
    margin: 0 5px;
    border-radius: 50%;
    background: #ddd;
    border: 0;
  }
  .tns-nav > .tns-nav-active { background: #999; }
  .playbutton-wrapper { text-align: center; }
  .playbutton-wrapper button { height: 34px; padding: 0 10px; font-size: 14px; background: #fff; border-radius: 3px; border: 1px solid  #ccc; cursor: pointer; }
  .wrapper { padding: 0 5em; }
  .suite-container .title, 
  .suite-container .subtitle, 
  .suite-container li { padding: 5px 10px; }
  .suite-container li {
    font-size: 12px;
    line-height: 1.4;
    background: #f5f5f5;
  }
.tns-controls { text-align: center; margin-bottom: 10px; }
.tns-controls [aria-controls] {
  font-size: 15px;
  margin: 0 5px;
  padding: 0 1em;
  height: 2.5em;
  color: #000;
  background: #66CCFF;
  border-radius: 3px;
  border: 0;
}
.lt-ie9 .tns-controls > [aria-controls] {
  line-height: 2.5em;
}
[data-action] {
  display: block;
  margin: 10px auto;
  font-size: 17px;
  min-width: 3em;
  text-align: center;
  background: transparent;
  border: 0;
}
.tns-controls [disabled] { 
  color: #999999;
  background: #B3B3B3; 
  cursor: not-allowed !important;
}
.tns-outer{padding:0 !important}.tns-outer [hidden]{display:none !important}.tns-outer [aria-controls],.tns-outer [data-action]{cursor:pointer}.tns-slider{-webkit-transition:all 0s;-moz-transition:all 0s;transition:all 0s}.tns-slider>.tns-item{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}.tns-horizontal.tns-subpixel{white-space:nowrap}.tns-horizontal.tns-subpixel>.tns-item{display:inline-block;vertical-align:top;white-space:normal}.tns-horizontal.tns-no-subpixel:after{content:'';display:table;clear:both}.tns-horizontal.tns-no-subpixel>.tns-item{float:left}.tns-horizontal.tns-carousel.tns-no-subpixel>.tns-item{margin-right:-100%}.tns-no-calc{position:relative;left:0}.tns-gallery{position:relative;left:0;min-height:1px}.tns-gallery>.tns-item{position:absolute;left:-100%;-webkit-transition:transform 0s, opacity 0s;-moz-transition:transform 0s, opacity 0s;transition:transform 0s, opacity 0s}.tns-gallery>.tns-slide-active{position:relative;left:auto !important}.tns-gallery>.tns-moving{-webkit-transition:all 0.25s;-moz-transition:all 0.25s;transition:all 0.25s}.tns-autowidth{display:inline-block}.tns-lazy-img{-webkit-transition:opacity 0.6s;-moz-transition:opacity 0.6s;transition:opacity 0.6s;opacity:0.6}.tns-lazy-img.tns-complete{opacity:1}.tns-ah{-webkit-transition:height 0s;-moz-transition:height 0s;transition:height 0s}.tns-ovh{overflow:hidden}.tns-visually-hidden{position:absolute;left:-10000em}.tns-transparent{opacity:0;visibility:hidden}.tns-fadeIn{opacity:1;filter:alpha(opacity=100);z-index:0}.tns-normal,.tns-fadeOut{opacity:0;filter:alpha(opacity=0);z-index:-1}.tns-vpfix{white-space:nowrap}.tns-vpfix>div,.tns-vpfix>li{display:inline-block}.tns-t-subp2{margin:0 auto;width:310px;position:relative;height:10px;overflow:hidden}.tns-t-ct{width:2333.3333333%;width:-webkit-calc(100% * 70 / 3);width:-moz-calc(100% * 70 / 3);width:calc(100% * 70 / 3);position:absolute;right:0}.tns-t-ct:after{content:'';display:table;clear:both}.tns-t-ct>div{width:1.4285714%;width:-webkit-calc(100% / 70);width:-moz-calc(100% / 70);width:calc(100% / 70);height:10px;float:left}

/*# sourceMappingURL=sourcemaps/tiny-slider.css.map */