/* purgecss start ignore */
@import "tailwindcss/base";
/* purgecss end ignore */
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500&display=swap");

#animated-background {
    animation: bgfade 20s infinite;
    background-size: cover;
    background-position: center;
    position: relative;
}
@keyframes bgfade {
    0% {
        background-image: url("http://www.pp.wip/assets/1076-1200x800.jpg");
    }
    25% {
        background-image: url("http://www.pp.wip/assets/1073-1200x800.jpg");
    }
    50% {
        background-image: url("http://www.pp.wip/assets/1074-1200x800.jpg");
    }
    75% {
        background-image: url("http://www.pp.wip/assets/1075-1200x800.jpg");
    }
    100% {
        background-image: url("http://www.pp.wip/assets/1076-1200x800.jpg");
    }
} /****** add a background overlay 
#animated-background:hover:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: black;
    opacity: 0.3;
}*******/
